
body { 
  background: url("https://p7.hiclipart.com/preview/488/85/113/chalk-blackboard-photography-guitar-blackboard.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.mainheader{
  margin-top: 20px;
  font-size: 58px;
  font-family: cursive;
  color:aliceblue;
  font-weight: bold;
}
.header1{
  margin-top: 20px;
  font-family: cursive;
  color: aliceblue;
  font-weight: bold;
}
.para1{
  font-family: cursive;
  font-size: 28px;
  color: aliceblue;
}